<template>
	<div class="uk-container-large uk-align-center uk-margin-remove-top uk-margin-remove-bottom">
		<nav uk-navbar>
			<div class="uk-navbar-left">
				<a class="uk-navbar-item uk-logo" href="/"><img src="img/logo-km.svg"> </a>
			</div>
			<div class="uk-navbar-right">
				<ul class="uk-navbar-nav uk-visible@m">
					<li>
						<nuxt-link to="/">Главная</nuxt-link>
					</li>
					<li>
						<nuxt-link to="services">Услуги</nuxt-link>
					</li>
					<li>
						<nuxt-link to="contacts">Контакты</nuxt-link>
					</li>
					<li>
						<nuxt-link to=about>О нас</nuxt-link>
					</li>
				</ul>
				<div class="uk-offcanvas-content">
					<a uk-navbar-toggle-icon="" href="#offcanvas-usage" uk-toggle=""
					   class="uk-navbar-toggle uk-hidden@m uk-navbar-toggle-icon uk-icon">
					</a>
					<div id="offcanvas-usage" uk-offcanvas>
						<div class="uk-offcanvas-bar">
							<button class="uk-offcanvas-close" type="button" uk-close></button>
							<ul class="uk-list">
								<li><a href="/">Главная</a></li>
								<li><a href="services.html">Услуги</a></li>
								<li><a href="contacts.html">Контакты</a></li>
								<li><a href="about.html">О нас</a></li>
							</ul>

						</div>
					</div>
				</div>

			</div>
		</nav>
	</div>
</template>


