<div class="uk-container-large uk-align-center uk-padding-small uk-margin-remove-bottom">
    <div class="uk-container uk-text-center">
        <p class="uk-text-large uk-margin-large-bottom">Ждем Вас:</p>
    </div>
    <div class="uk-grid">
        <div class="uk-width-1-2">
            <p class="uk-text-center">В микрорайоне "В"</p>
            <hr>
            <p class="uk-text-left">г. Мценск, ул. Машиностроителей, д. 4. <br> Телефон +7-(962) 478-40-50</p>
        </div>
        <div class="uk-width-1-2 uk-margin-xlarge-bottom">
            <p class="uk-text-center">В центре города Мценска</p>
            <hr>
            <p class="uk-text-left">г. Мценск, ул. Тургенева, д. 100. <br> Телефон +7-(919) 205-54-00</p>
        </div>
    </div>
</div>