<template>
<div class="uk-container-large uk-align-center">
    <div class="uk-padding-large" uk-scrollspy="target: > div; cls:uk-animation-slide-bottom-medium; delay: 200">
        <div class="uk-card uk-card-default uk-width-1-1 uk-margin-medium">
            <div class="uk-card-body">
                <h3>С момента своего создания сервисные центры Компмастер постоянно развиваются в сегменте
                    ИТ-услуг.</h3>
            </div>
        </div>
        <div class="uk-card uk-card-default uk-width-1-1 uk-margin-medium">
            <div class="uk-card-body">
                <h3>Все наши сотрудники тщательно обучены. В наших сервисных центрах всегда в ниличии необходимые
                    комплектующие и расходные материалы.</h3>
            </div>
        </div>
        <div class="uk-card uk-card-default uk-width-1-1 uk-margin-medium">
            <div class="uk-card-body">
                <h3>Мы обслуживаем людей г. Мценска и Мценского района с 2007 года.</h3>
            </div>
        </div>
        <div class="uk-card uk-card-default uk-width-1-1 uk-margin-medium">
            <div class="uk-card-body">
                <h3>Нашими клиентами также являются индивидуальные предприниматели, предприятия и огрганизации.</h3>
            </div>
        </div>


    </div>
</div>
</template>

<script>
    import Navbar from '@/components/Navbar'

    export default {
        components: {
            Navbar
        }
    }
</script>
