<template>
<div class="uk-container uk-container-large uk-margin-large">
    <h1 class="uk-text-bold uk-text-center" style="color: orange; margin-bottom: 50px">Адреса сервисных центров "Компмастер"</h1>

    <div class="uk-grid-divider uk-child-width-1-2@xl uk-child-width-1-2@l uk-child-width-1-1@m" uk-grid uk-scrollspy="target: > div; cls:uk-animation-slide-bottom-medium; delay: 200">
        <div>
            <h2 class="uk-text-center">В микрорайоне "В"</h2>
            <ul class="uk-list uk-list-bullet">
                <li>
                    <h3 class="uk-display-inline">303030, Орловская обл., г. Мценск, ул. Машиностроителй, д. 4</h3>
                </li>
                <li>
                    <h3 class="uk-display-inline">+7 (962) 478-40-50</h3>
                </li>
                <li>
                    <h3 class="uk-display-inline">пн — пт: с 9 до 19; сб: 9-16; вс: выходной</h3>
                </li>
            </ul>
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A054ee7485b96947349a4347b515aa50979e631bfcfc56e9843108a2f157d601e&amp;width=100%25&amp;height=300&amp;lang=ru_RU&amp;scroll=true"></script>
        </div>
        <div>
            <h2 class="uk-text-center">В центре г. Мценска</h2>
            <ul class="uk-list uk-list-bullet">
                <li>
                    <h3 class="uk-display-inline">303030, Орловская обл., г. Мценск, ул. Тургенева, 100</h3>
                </li>
                <li>
                    <h3 class="uk-display-inline">+7-(919) 205-54-00</h3>
                </li>
                <li>
                    <h3 class="uk-display-inline">пн — пт: с 9 до 19; сб: 9-16; вс: выходной</h3>
                </li>
            </ul>
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Adb512d20124da4eae44efb8fd46cfe915141a8d8ec23e10d19d85cbe19fa8823&amp;width=100%25&amp;height=300&amp;lang=ru_RU&amp;scroll=true"></script>

        </div>
    </div>
</div>
</template>
