<template>
    <div>
        <div class="uk-container-large uk-align-center uk-margin-remove-top uk-margin-remove-bottom uk-visible@m">
            <div class="uk-position-relative uk-visible-toggle uk-light" uk-slideshow="ratio: 7:3; autoplay: true; animation: fade">
                <ul class="uk-slideshow-items">
                    <li>
                        <img src="img/1.jpg" alt="" uk-cover>
                        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center">
                            <h2 uk-slideshow-parallax="x: 100,-100">Сервисный центр "КОМПМАСТЕР"</h2>
                            <p class="uk-text-large" uk-slideshow-parallax="x: 200,-200">Послегарантийное обслуживание компьютерной, цифровой и офисной техники</p>
                        </div>
                    </li>
                    <li>
                        <img src="img/2.jpg" alt="" uk-cover>
                        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center">
                            <h2 uk-slideshow-parallax="x: 100,-100">Сервисный центр "КОМПМАСТЕР"</h2>
                            <p class="uk-text-large" uk-slideshow-parallax="x: 200,-200">Широкий спектр сервисных услуг по диагностике и ремонту</p>
                        </div>
                    </li>
                    <li>
                        <img src="img/3.jpg" alt="" uk-cover>
                        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center">
                            <h2 uk-slideshow-parallax="x: 100, -100">Сервисный центр "КОМПМАСТЕР"</h2>
                            <p class="uk-text-large" uk-slideshow-parallax="x: 200, -200">Восстановление данных, чистка от вирусов</p>
                        </div>
                    </li>
                    <li>
                        <img src="img/4.jpg" alt="" uk-cover>
                        <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center">
                            <h2 uk-slideshow-parallax="x: 100, -100">Сервисный центр "КОМПМАСТЕР"</h2>
                            <p class="uk-text-large" uk-slideshow-parallax="x: 200, -200">Установка и настройка ПО, модернизация оборудования и другие услуги</p>
                        </div>
                    </li>
                </ul>
                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
            </div>
        </div>
        <div class="uk-container-large uk-align-center uk-margin-remove-top uk-margin-remove-bottom">
            <div class="uk-padding-large">
                <div class="uk-flex-center uk-grid-match uk-grid-large uk-child-width-1-4@xl uk-child-width-1-3@l uk-child-width-1-3@m uk-child-width-1-2@s uk-text-center" uk-grid uk-scrollspy="target: > div; cls:uk-animation-fade; delay: 200">
                    <div>
                        <div class="uk-card uk-card-default uk-card-body uk-padding-small">
                            <span uk-icon="icon:desktop; ratio: 2"></span>
                            <h1 class="uk-card-title uk-margin-small">Ремонт компьютеров</h1>
                            <p>Качественная диагностика и недорогой ремонт компьютеров всех марок.</p>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body uk-padding-small">
                            <span uk-icon="icon:laptop; ratio: 2"></span>
                            <h1 class="uk-card-title uk-margin-small">Модернизация ноутбука</h1>
                            <p>Увеличим размер оперативной памяти, заменим жесткий диск</p>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body uk-padding-small">
                            <span uk-icon="icon:hdd; ratio: 2"></span>
                            <h1 class="uk-card-title uk-margin-small">Восстановление информации</h1>
                            <p>С устройств, которые предназначены для записи и хранения данных.</p>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body uk-padding-small">
                            <span uk-icon="icon:laptop; ratio: 2"></span>
                            <h1 class="uk-card-title uk-margin-small">Ремонт ноутбука</h1>
                            <p>Починим основные узлы вашего компьютера и обеспечим ему стабильную работу</p>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body uk-padding-small">
                            <span uk-icon="icon:fan; ratio: 2"></span>
                            <h1 class="uk-card-title uk-margin-small">Чистка системы охлаждения</h1>
                            <p>Удалим пыль из СО, заменим термоинтерфейс. Компьютер больше не будет перегреваться.</p>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body uk-padding-small">
                            <span uk-icon="icon:bios; ratio: 2"></span>
                            <h1 class="uk-card-title uk-margin-small">Перепрошивка БИОС на компьютере</h1>
                            <p>Отремонтируем материнскую плату, перепрошьем микросхему БИОСа.</p>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body uk-padding-small">
                            <span uk-icon="icon:battery; ratio: 2"></span>
                            <h1 class="uk-card-title uk-margin-small">Замена аккумулятора</h1>
                            <p>Заменим аккумулятор в любых портативных носимых устройствах.</p>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body uk-padding-small">
                            <span uk-icon="icon:usb; ratio: 2"></span>
                            <h1 class="uk-card-title uk-margin-small">Замена разъема MICRO USB (MINI USB)</h1>
                            <p>Заменим на новые разъемы подключения питания и переферийных устройств.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
  export default {

  }

</script>

<style>

</style>

