<template>
<div class="uk-container-large uk-align-center">
    <div class="uk-padding-large" uk-scrollspy="target: > div; cls:uk-animation-slide-bottom-medium; delay: 200">
        <div class="uk-card uk-card-default uk-width-1-1 uk-margin-medium">
            <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-expand">
                        <h3 class="uk-card-title uk-margin-remove-bottom">Ремонт компьютеров начинается с
                            диагностики</h3>
                    </div>
                </div>
            </div>
            <div class="uk-card-body uk-padding-remove-top">
                <p>Мы предлагаем БЕСПЛАТНУЮ диагностику для вашего компьютера. Диагноз обычно занимает от 5 до 10 минут
                    с назначением. Когда вы приедете, наш специалист будет готов проверить ваш компьютер; пожалуйста,
                    предоставьте как можно больше деталей для проблемы. Кроме того, наш техник предоставит вам советы по
                    поддержанию вашего компьютера после ремонта.</p>
            </div>
        </div>

        <div class="uk-card uk-card-default uk-width-1-1 uk-margin-medium">
            <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-expand">
                        <h3 class="uk-card-title uk-margin-remove-bottom">Ремонт ноутбуков</h3>
                    </div>
                </div>
            </div>
            <div class="uk-card-body uk-padding-remove-top">
                <p>Ваш компьютер слишком медленно работает? Он включен, но на экране ничего не отображается? Ваш ноутбук
                    подключен к зарядному устройству все время, а
                    аккумулятор больше не заряжается? Мы можем отремонтировать или заменять неисправные компоненты.
                    Наиболее часто встречающиеся неисправности: жесткий диск, клавиатура (клавиши не работают), ЖК-экран
                    вышел из строя, ошибка подключения к Интернету, неисправности материнской платы и
                    т.д.</p>
            </div>
        </div>

        <div class="uk-card uk-card-default uk-width-1-1 uk-margin-medium">
            <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-expand">
                        <h3 class="uk-card-title uk-margin-remove-bottom">Восстановление после залития</h3>
                    </div>
                </div>
            </div>
            <div class="uk-card-body uk-padding-remove-top">
                <p>Когда жидкость пролилась на ваш ноутбук, большинство людей сразу очищаюь поверхность компьютера и
                    попытабтся включить его. Ваш компьютер может работать от нескольких секунд до нескольких месяцев без
                    проблем, но так как в компьютере все еще есть вода, он выйдет из строя в любой момент. </p>
            </div>
        </div>

        <div class="uk-card uk-card-default uk-width-1-1 uk-margin-medium">
            <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-expand">
                        <h3 class="uk-card-title uk-margin-remove-bottom">Замена разъема постоянного тока</h3>
                    </div>
                </div>
            </div>
            <div class="uk-card-body uk-padding-remove-top">
                <p>Вы подключили зарядное устройство к ноутбуку, оно не заряжается и не работает? Возможно в этом случае
                    сломался разъемом постоянного тока вашего ноутбука. Нестабильное питание может повредить материнскую
                    плату. Замена гнезда постоянного тока является
                    единственным долгосрочным решением.</p>
            </div>
        </div>

        <div class="uk-card uk-card-default uk-width-1-1 uk-margin-medium">
            <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <div class="uk-width-expand">
                        <h3 class="uk-card-title uk-margin-remove-bottom">Модернизация компьютероа</h3>
                    </div>
                </div>
            </div>
            <div class="uk-card-body uk-padding-remove-top">
                <p>Это отличный способ ускорить работу вашего компьютера и снизить стоимость, не инвестируя в новый
                    компьютер. В большинстве случаев установка дополнительных модулей памяти (RAM), более быстрый
                    процессор, новый жесткий диск и/или новая видеокарта могут значительно ускорить работу вашей
                    системы.</p>
            </div>
        </div>

    </div>
</div>
</template>
